<a href="https://colab.research.google.com/github/pranju141/Email_spam_detection/blob/main/Email_spam_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
import string

In [2]:
#Load the data
from google.colab import files
uploaded = files.upload()

Saving spam.csv to spam.csv

In [3]:
#Read the csv file
dataframe = pd.read_csv('spam.csv')

dataframe.head(5)

  Label                                          EmailText
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
dataframe.describe()

       Label               EmailText
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [5]:
dataframe.columns

Index(['Label', 'EmailText'], dtype='object')

In [6]:
# Remove duplicates
dataframe.drop_duplicates(inplace = True)

In [7]:
dataframe.describe()

       Label                                        EmailText
count   5169                                             5169
unique     2                                             5169
top      ham  Do you always celebrate NY's with your family ?
freq    4516                                                1

In [8]:
# Check the number of missing (NA) data for each column
dataframe.isnull().sum()

Label        0
EmailText    0
dtype: int64

In [9]:
#Download the stopwords package
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [10]:
def process_text(text):

  #remove punctuation
  nopunc = [char for char in text if char not in string.punctuation ]
  nopunc = ''.join(nopunc)

  # remove stopwords
  clean_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]

  #return a list of clean words
  return clean_words

In [11]:
dataframe['EmailText'].head().apply(process_text)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: EmailText, dtype: object

In [12]:
# Convert a collection of text to a matrix of tokens(tokenization)

from sklearn.feature_extraction.text import CountVectorizer
messages_bow = CountVectorizer(analyzer = process_text).fit_transform(dataframe['EmailText'])

In [13]:
 # Spliting the data into train and test data

 from sklearn.model_selection import train_test_split
 X_train, X_test, y_train, y_test = train_test_split(messages_bow, dataframe['Label'], test_size=0.20, random_state=42)

In [14]:
messages_bow.shape

(5169, 11304)

In [15]:
# Create and train the Naive Bayes CLassifier

from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB().fit(X_train, y_train)

In [16]:
#Print the predictions
print(classifier.predict(X_train))

#Print actual values
print(y_train.values)

['ham' 'ham' 'ham' ... 'ham' 'ham' 'spam']
['ham' 'ham' 'ham' ... 'ham' 'ham' 'spam']

In [17]:
# Evaluate the model on the training data set
from sklearn.metrics import accuracy_score
pred = classifier.predict(X_train)
print('Accuracy: ', round(accuracy_score(y_train, pred),4))

Accuracy:  0.9959